.homeContainer{
 margin-top: 2rem;
 display: flex;
 flex-direction: column;
}












@media(min-width:48em){
.homeContainer{
 position: absolute;
 left: 0;
 margin: 3.5rem 0 0 20vw;
 padding: 0 3rem 0 10px;
 width: 40vw;
}

}